.Pallete {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.Pallete-colors {
  height: 90%;
}
.Pallete-Footer {
  background-color: white;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
}
.emoji {
  font-size: 1.15rem;
  margin: 0 0.7rem;
}
